.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.header {
  background-color: purple;
  text-align: center;
  color: white;
  padding: 5px;
  display: flex;
}

.date {
  align-content: center;
  flex: 1;
}

.question-icon {
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  margin: 5px;
}

.body {
  background-color: whitesmoke;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  padding-inline: 30%;
}

.footer {
  background-color: green;
  text-align: center;
  padding: 5px 0;
}

.answerSection {
  margin-top: 50px;
}

.mcAnsSection {
  display: flex;
  flex-direction: column;
}

.mcBtn {
  background-color: purple;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 7px;
  margin: 3px 0;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: darkred;
}

@media (max-width: 576px) {
  .body {
    padding-inline: 5%;
  }
}
